<h2>Welcome to Ritly!</h2>

<% if @new_link.errors.any? %>
	<% @new_link.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
<% end %>


<%= form_for @new_link do |f| %>
	<div>
		<%= f.label :url, "Please enter a URL:" %><br />
		<%= f.url_field :url %>
	</div>
	<%= f.submit "Create URL" %>
<% end %>